-
  let n = 0;

mixin main()
  img(class="menu__image" src="img/content/bg-1.jpg", width="1920", height="1080")
  .menu-wrapper
    .menu
      .menu__glass
      .menu__row
        .menu__item(data-menu="purple")
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__content
            +icon("bg", "185", "165")
            span.menu__text CATALOG
        .menu__item(data-menu="black")
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__content
            +icon("bg", "185", "165")
            span.menu__text CONTACTS
        .menu__item(data-menu="red")
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__content
            +icon("bg", "185", "165")
            span.menu__text MENU
      .menu__row
        .menu__item(data-menu="green")
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__content
            +icon("bg", "185", "165")
            span.menu__text Home
        .menu__item(data-menu="orange")
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__outer
            .menu__inner
            .menu__inner
            .menu__inner
          .menu__content
            +icon("bg", "185", "165")
            span.menu__text Home

