.header {
  position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: 100;
  //   bottom: -2px;
  //   left: 0;
  //   width: 100%;
  //   height: 10px;
  //   background-color: black;
  // }
}

.logo {
  position: absolute;
  z-index: 100;
  top: size(-20px);
  left: 50%;
  transform: translateX(-50%);

  img {
    filter: hue-rotate(257deg);
    height: size(150px);
    width: size(200px);
  }
}


.title {
  position: relative;
  writing-mode: vertical-lr;
  top: 45%;
  right: 0;
  margin: 0;
  font-family: "Cyber";
  text-align: center;
  color: rgb(138, 16, 53);
  letter-spacing: 1.6rem;
  font-size: 172px;
  line-height: 204px;
}

.layers {
  padding-top: 56.25%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;

  &--top-image {
    position: absolute;
    top: 0;
    z-index: 5;
    background-image: url("../../img/content/windowbg.jpg");
    background-repeat: repeat-x;
    background-size: 110% 88%;
    background-position: 0 0;
    animation: bg 300s infinite;
    animation-timing-function: cubic-bezier(0.475, 0.155, 0.630, 0.955);

    img {
      top: 0;
      position: absolute;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  @keyframes bg {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 500% 0;
    }

    50% {
      background-position: 250% 0%;
    }

    75% {
      background-position: -300% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  &--image {
    bottom: 0;
    z-index: 3;

    img {
      bottom: 0;
      position: absolute;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      opacity: 0;
    }
  }

  &--title {
    z-index: 2;
    top: 5%;
    right: 0;
    height: auto;
    width: fit-content;
  }

  &--video {
    top: 0;
    z-index: 1;

    video {
      pointer-events: none;
      object-fit: cover;
      height: 100%;
      opacity: 0;
      width: 100%;
    }
  }

}

.text{
  position: absolute;
  color: yellow;
  top: 50%;
  font-size: size(54px);
  z-index: 5;
  left: 50%;
}
