mixin header()
  header.header
    .logo
      img(src="img/content/logo.png", width="150", height="150")
    .layers
      .layer.layer--top-image
        img(src="img/content/window2.png", width="1920", height="1080")
      .layer.layer--video
        video.header__video(autoplay muted loop id="header-video")
          source(src="img/content/silver.mp4")
      .layer.layer--image
        img(src="img/content/background.png", width="1380", height="967")
    //- .text sdsfdgdg
